@import "./utils/variables";

@import "./components/common";
@import "./components/section";
@import "./components/buttons";
@import "./components/logo";
@import "./components/modal-window";
@import "./components/section";
@import ".//components/header";
@import ".//components/hero";
@import ".//components/features";
@import ".//components/actitvity";
@import ".//components/team-list";
@import ".//components/cusromers";
@import ".//components/footer";
@import ".//components/filter-list";
@import ".//components/projects";
@import ".//components/socials";
@import ".//components/site-nav";
@import ".//components/contacts";
@import ".//components/checkbox";
@import ".//components/textarea";
@import ".//components/input-group";
@import ".//components/subscribe";
@import ".//components/label";