.primary-button {
	min-width: 200px;
	height: 50px;
	display: block;
	margin: 0 auto;
	color: $text-color-on-dark;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.8;
	padding: 10px 36px;
	border: none;
	border-radius: 4px;
	transition: fill $animation-duration $animation-timing-function;
}
.primary-button--flex {
display: flex;
align-items: center;
justify-content: center;
@media screen and (max-width: 767px) {
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  justify-content: center;
}
}
.primary-button__icon{
	margin-left: 10px;
	fill: $text-color-on-dark;
	width: 24px;
	height: 24px;
}
.secondary-button {
	display: inline-block;
	color: $primary-text-color;
	background-color: $bg-color-team;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	padding: 6px 22px;
	border-color: transparent;
	border-radius: 4px;
	transition:
		 box-shadow $animation-duration $animation-timing-function;
    &:hover {
			color: $bg-color-team;
			background-color: $accent-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
				 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
}

.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	background: transparent;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: fill $animation-duration $animation-timing-function;
	&:hover {
		fill: $accent-color;
	}
}
