.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $color-text-description;
	@media screen and (max-width: 767px) {
		font-size: 12px;
		line-height: 1.16;
	 }
	 @media screen and (min-width: 768px) {
		font-size: 12px;
		line-height: 1.16;
	 }
	 @media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	 }
}
.checkbox__icon {
	display: flex;
	margin-right: 8px;
	min-width: 16px;
	height: 15px;
	border: 2px solid $primary-text-color;
	border-radius: 2px;
	cursor: pointer;}

	.checkbox__input:checked + .checkbox__icon  {
		background-origin: border-box;
		background-color: $accent-color;
		background-image: url(./images/icons.svg#icon-tick);
		background-size: contain;
		border-color: $accent-color;;
	}

.checkbox__link {
	text-decoration-line: underline;
	color: $accent-color;
}