.contacts {

	@media screen and (max-width: 767px) {
		margin-top: auto;
		flex-direction: column;
		margin-bottom: 64px;
	  }
	  @media screen and (mix-width: 1200px) {
	  align-items:center;
	  display: flex;
	  margin-left: auto;
	}
}
.contacts__link:not(:last-child) {
	margin-right: 50px;
}

.contacts__link {
	color: $color-text-description;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	display: block;
	transition: $animation-duration $animation-timing-function;
	&:hover,
	&:focus {
	color: $accent-color;
}
}
.contacts__item-tel {
	@media screen and (max-width: 767px){
	font-family: Roboto;
	font-size: 34px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: $accent-color;
}
}
.contacts__item-tel {
	@media screen and (max-width: 480px){
	margin-bottom: 32px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: $accent-color;
}
}
.contacts__item-email {
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.17;
	letter-spacing: 0.02em;
	color: $social-link-color;
}
.contacts__icon {
	margin-right: 10px;
	fill: currentColor;
	vertical-align: middle;
	&:hover,
	&:focus {
	fill: $accent-color;
  }
}

