.cusromers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -15px;
	@media screen and (min-width: 1200px) {
	display: flex;
	margin: -15px;
	 }
}
.cusromers__item {
@media screen and (max-width: 767px) {
	width: calc((100% - 60px) / 2);
	margin: 15px;
 }
 @media screen and (min-width: 768px) {
	width: calc((100% - 90px) / 3);
	margin: 15px;
 }
 @media screen and (min-width: 1200px) {
	width: calc((100% - 180px) / 6);
	margin: 15px;
 }
}
.cusromers__link {
	display: flex;
	justify-content: center;
	align-items: center;
	fill: $social-link-color;
	border: 1px solid $social-link-color;
	border-radius: 4px;
	padding: 16px 0;
	transition: fill $animation-duration $animation-timing-function,
	border $animation-duration $animation-timing-function;
	&:hover,
	&:focus {
	fill: $accent-color;
	border: 1px solid $accent-color;
}
}
