.features {
	padding-bottom: 0;
}
.features-list {
	display: flex;
}

.features-list__item {
	width: 270px;
	&:not(:last-child) {
		margin-right: 30px;
	}
}

.features-list__title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $title-text-color;
}
.features-list__description {
	color: $color-text-description;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.7;
}
.features-list__image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background-color: $bg-color-team;
	border-radius: 4px;
	padding: 25px 0;
}