@media screen and (max-width: 1199px) {
	.features {
padding-bottom: 60px;
	}
}
@media screen and (max-width: 1199px) {
	.features {
padding-bottom: 0px;
	}
}
.features-list__title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $title-text-color;
}
.features-list__image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background-color: $bg-color-team;
	border-radius: 4px;
	padding: 25px 0;
}
.features-list__description {
	color: $color-text-description;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.7;
}
 @media screen and (min-width: 768px) and (max-width: 1199px) {
	.features-list {
	  display: flex;
	  flex-wrap: wrap;
	  margin: -15px;
	}
}
@media screen and (max-width: 767px) {
	.features-list__item {
		margin: 15px;
		}
  }
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.features-list__item {
		margin: 15px;
		width: calc((100% - 60px) / 2);
		}
  }
  .features-list{
	@media screen and (min-width: 780px){
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
	.features-list {
	  display: flex;
	  margin: -15px;
	}
 }
 @media screen and (min-width: 1200px) {
	.features-list__item {
		margin: 15px;
width: calc((100% - 120px) / 4);
}
	} 
 