.features {
	padding-bottom: 0;
}
.features-list__title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $title-text-color;
}
.features-list__image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background-color: $bg-color-team;
	border-radius: 4px;
	padding: 25px 0;
}
.features-list__description {
	color: $color-text-description;
	font-size: 14px;
	letter-spacing: 0.03em;
	line-height: 1.7;
}
 @media screen and (min-width: 768px) and (max-width: 1199px) {
	.features-list {
	  display: flex;
	  flex-wrap: wrap;
	}
	 .features-list__image {
		width: 354px;
	 }
	 .features-list__description {
		width: 354px;
	 }
  }
@media screen and (min-width: 1200px) {
	.features-list {
	  display: flex;
	}
	.features-list__item {
	  &:not(:last-child) {
		 margin-right: 30px;
	  }
	}
	.features-list__image {
	  width: 270px;
	}
	.features-list__description {
	  width: 270px;
	}
 }