.filter-list {
	display: flex;
	justify-content: center;
	@media screen and (max-width: 767px) {
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: -8px -4px -32px;
	 }
	 @media screen and (min-width: 768px) {
		justify-content: center;
		margin: -8px -4px -22px;
	 }
	 @media screen and (min-width: 1200px) {
		justify-content: center;
		margin-bottom: 50px;
		margin: -8px -4px -42px;
	 }
}
	.filter-list__item {
   margin: 8px 4px;
	}
 