.footer-section {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $bg-color-section;
	@media screen and (min-width: 1200px) {
	  display: flex;
	}
 }
.footer-section__container {
	display: flex;
	@media screen and (max-width: 767px) {
		flex-direction: column;
	 }
	 @media screen and (min-width: 768px) and (max-width: 1199px) {
		flex-wrap: wrap;
		justify-content: space-around;
	 }
	 @media screen and (min-width: 1200px) {
		align-items: baseline;
	 }
}
.footer-section__contacts {
		@media screen and (max-width: 767px) {
		  margin-bottom: 60px;
		}
		@media screen and (min-width: 768px) and (max-width: 1199px) {
		  display: inline-block;
		  text-align: center;
		}
		@media screen and (min-width: 1200px) {
		  flex-grow: 1;
		  margin-right: 70px;
		}
}
.footer-section__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $text-color-on-dark;}
.footer-section__links {
		@media screen and (max-width: 767px) {
			margin-bottom: 60px;
		 }
		 @media screen and (min-width: 768px) and (max-width: 1199px) {
			display: flex;
			flex-direction: column;
		 }
		 @media screen and (min-width: 1200px) {
			margin-right: 93px;
		 }
	}

.footer-section__subscribe {
	margin-left: auto;
}
.address {
	font-style: normal;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
	  margin-bottom: 60px;
	}
 }
 .address-list {
		@media screen and (max-width: 767px) {
		  text-align: center;
		}
	 }
.address__item:not(:last-child) {
	margin-bottom: 9px;
}
.address__link {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	transition: color $animation-duration $animation-timing-function;
	&:hover,
	&:focus {
	color: $accent-color;
}
}
.address__link--first {
	color: $text-color-on-dark;
}
.address__link--second {
	color: rgba(255, 255, 255, 0.6);
}