.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity $animation-duration
	$animation-timing-function,
		 visibility $animation-duration $animation-timing-function;
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.7);
}
.modal {
	@media screen and (max-width: 768px) and (max-width: 1199px){
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 450px;
	max-height: 100vh;
	padding: 40px;
	background-color: $text-color-on-dark;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition: transform $animation-duration
	$animation-timing-function;
	.is-hidden & {
		transform: translate(-50%, -50%) scale(0.7);
	}
}
@media screen and (min-width: 1200px){

	width: 528px;
	height: 581px;

}

}
.modal__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	color: $title-text-color;
}