.site-nav {
	@media screen and (max-width: 767px) {
		flex-direction: column;
		 }
		 @media screen and (min-width: 768px) {
			display: flex;
			align-items: center;
			padding: 0;
		  }
}
.site-nav__link {
	display: block;
	color: $title-text-color;
	font-family: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
   transition: color $animation-duration $animation-timing-function;
	&:hover,
	&:focus {
	color: $accent-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
   }
}
@media screen and (max-width: 767px){	
	.site-nav__link {	
		font-size: 40px;
		margin-bottom: 32px;		
      }
    }
@media screen and (min-width: 768px){	
		.site-nav__link {	
			padding: 32px 0;		
			}
		 }
@media screen and (max-width: 767px){
.site-nav__link:hover,
.site-nav__link:focus {
	color: $accent-color;
	font-size: 40px;
   }
}
@media screen and (min-width: 768px) {
.site-nav__item:not(:last-child) {
	margin-right: 50px;
}
}
@media screen and (max-width: 1199px){	
	.site-nav__link--current {	
    color: $accent-color;
}
}
	@media screen and (min-width: 768px){	
		.site-nav__link--current {	
	color: $accent-color;
	&::after {
		content: '';
		display: block;
		left: 0;
		bottom: -33px;
		height: 4px;
		width: 100%;
		background-color: $accent-color;
		border-radius: 4px;
		position: relative;
	}
}
}