.site-nav {
	@media screen and (max-width: 767px) {
   flex-direction: column;
	 }
	 @media screen and (min-width: 768px) {
margin-left: 88px;
	  }
	 @media screen and (min-width: 768px) {
		display: flex;
		align-items: center;
		padding: 0;
	  }
}
.site-nav__item {
	&:not(:last-child) {
	  margin-right: 50px;
	}
 }
.site-nav__link {
	@media screen and (max-width: 767px){
	color: $title-text-color;
	font-family: inherit;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.17;
	letter-spacing: 0.02em;
   transition: color $animation-duration $animation-timing-function;}
	}
@media screen and (max-width: 767px){
		.site-nav__link:not(:last-child) {
	margin-bottom: 30px;
 }
}
.site-nav__link--current:hover,
.site-nav__link--current:focus{
	@media screen and (max-width: 767px){
		color: $accent-color;
fill: $accent-color;
	}
}
.site-nav__link {
	@media screen and (min-width: 768px){
	display: block;
	color: $title-text-color;
	font-family: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
   transition: color $animation-duration $animation-timing-function;}
	&:hover,
	&:focus {
	color: $accent-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
   }
}
.site-nav__link,
.site-nav__link--current {
	@media screen and (min-width: 768px){
	  font-weight: 500;
	  line-height: 1.14;
	  letter-spacing: 0.02em;
	  list-style-type: none;
	  display: block;
	  padding-top: 32px;
	  padding-bottom: 32px;
	  transition: color $animation-duration $animation-timing-function;}
	  &:hover,
	  &:focus {
		 color: $accent-color;
		 fill: $accent-color;
	  }
	}
	  .site-nav__link--current::after {
	  @media screen and (min-width: 768px) {
		content: '';
		display: block;
		left: 0;
		bottom: -34px;
		height: 4px;
		width: 100%;
		background-color: $accent-color;
		-webkit-border-radius: 4px;
				  border-radius: 4px;
		position: relative;
	 }
	}
