.team {
	background-color: $bg-color-team;
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-wrap: wrap;
	 }
	 @media screen and (min-width: 1200px) {
		display: flex;
	 }
}
.team-list {
	//display: flex;
}
.team-list__item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	&:not(:last-child) {
		margin-right: 30px;
	}
	@media screen and (max-width: 767px) {
		&:not(:last-child) {
		  margin-bottom: 30px;
		}
	 }
	 @media screen and (min-width: 768px) and (max-width: 1199px) {
		width: 354px;
		&:nth-child(2n + 1) {
		  margin-right: 30px;
		}
		&:nth-child(-n + 2) {
		  margin-bottom: 30px;
		}
	}
		@media screen and (min-width: 1200px) {
			
			width: 270px;
			&:not(:last-child) {
			  margin-right: 30px;
			}
	}
}

.teammate {
	font-size: 16px;
	line-height: 1.18;
	font-weight: 500;
	letter-spacing: 0.03em;
	background-color: $text-color-on-dark;
	text-align: center;
	padding: 30px 0;
}
.teammate__name {
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: $title-text-color;
}

.teammate__position {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	color: $color-text-description;
	margin-bottom: 16px;
}