$primary-text-color: #000000;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #e5e5e5;
$color-text-description: #757575;
$bg-color-section: #2f303a;
$bg-color-team: #f5f4fa;
$text-color-on-dark: #ffffff;
$portfolio-border-color: #eeeeee;
$section-border-color: #ececec;
$social-link-color: #afb1b8;
$footer-social: rgba(255, 255, 255, 0.1);
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
$animation-duration: 250ms;